<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="standardLogger" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.example.springboot.logging.LogTypeFilter">
            <MDCKey>logType</MDCKey>
            <MDCValue>Controller</MDCValue>
            <OnMismatch>ACCEPT</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <encoder>
            <pattern>
                [%thread] %-5level %logger %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="jsonLogger" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.example.springboot.logging.LogTypeFilter">
            <MDCKey>logType</MDCKey>
            <MDCValue>Controller</MDCValue>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonGeneratorDecorator
                class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{\"MM/dd/YY HH:mm:ss.SSS\",\"America/Chicago\"} CDT",
                        "logLevel": "%level",
                        "indexName": "myservice",
                        "logger": "%logger",
                        "thread": "[%5.5thread]",
                        "channel": "%mdc{channel}",
                        "logFileType": "AppLog",
                        "sourceType": "%mdc{sourceType}",
                        "appName": "MyApp",
                        "logType": "%mdc{logType}"
                        }
                    </pattern>
                </pattern>

                <nestedField>
                    <fieldName>logData</fieldName>
                    <providers>
                        <pattern>
                            <pattern>
                                {
                                "payload": "#tryJson{%msg}",
                                "dfSessionId": "%mdc{sessionId}",
                                "sfId": "%mdc{sfId}",
                                "country": "%mdc{country}"
                                }
                            </pattern>
                        </pattern>
                    </providers>
                </nestedField>
                <logstashMarkers />

                <stackTrace>
                    <fieldName>errorMessage</fieldName>
                    <throwableConverter
                        class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>20</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                        <inlineHash>true</inlineHash>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="standardLogger" />
        <appender-ref ref="jsonLogger" />
    </root>
</configuration>